<div class="container register">
        <div class="row">
                <div class="col-md-12 register-right">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <h3 class="register-heading">Register New Student</h3>
                            <form [formGroup]="registerForm" (ngSubmit)="registerStudent()">

                            <div class="row register-form">
                                <div class="col-md-6">

                                        <div class="form-group">
                                                <input formControlName="rollno" type="text" readonly=true class="form-control" placeholder="Rollno" value="1" />
                                             </div>
                                    <div class="form-group">
                                        <input formControlName="name" type="text" class="form-control" placeholder="Name *" value="" />
                                    </div>
                                    <div class="form-group">
                                        <input formControlName="address" type="text" class="form-control" placeholder="Address *" value="" />
                                    </div>
                                   
                                </div>
                                <div class="col-md-6">
                                        <div class="form-group">
                                                <input formControlName="email" type="text" class="form-control" placeholder="Email *" value="" />
                                            </div>
                                    <div class="form-group">
                                        <input formControlName="phone" type="text" class="form-control" placeholder="Phone *" value="" />
                                    </div>
                                    <div class="form-group">
                                        <input formControlName="dob" type="text" class="form-control" placeholder="Date Of Birth *" value="" />
                                    </div>
                                    <input type="submit" class="btn-primary"  value="Register"/> &nbsp; &nbsp;
                                    <!-- <input type="reset" class="btn-info"  value="Reset"/> &nbsp; &nbsp; -->
                                    <input type="button" (click)="closeModel();" class="btn-danger"  value="Close"/> &nbsp; &nbsp;
                                </div>
                            </div>
                            </form>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>        